:root {
  --main-black-color: #000000;
  --title-black-color: #212121;
  --main-white-color: #FFFFFF;
  --primary-grey-color: #757575;
  --blue-color: #2196F3;
  --darkgrey-background-color: #2F303A;
  --buttons-background-color: #F5F4FA;
  --border-color: #ECECEC;
  --footer-lightgrey-color: rgba(255, 255, 255, 0.6);
  --typical-margin: 20px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--title-black-color);
}

body {
  font-size: 14px;
  letter-spacing: 0.03em;
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-white-color);
  color: var(--primary-grey-color);
}

.header {
  border-bottom: 1px solid var(--border-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

.header .container {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid var(--blue-color);
}

.hero-item:not(:last-child) {
  margin-right: 50px;
}

.logo-studio {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19; /* line-height 31px : font-size 26px = 1.19 */
  color: var(--main-black-color);
}

.logo-web {
  color: var( --blue-color);
}

.footer-color {
  color: var(--main-white-color);
}

.site-nav .current {
  color: var(--blue-color);
}

.nav {
  display: flex;
}

.links {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14; /* line-height 16px : font-size 14px = 1.14 */
  letter-spacing: 0.02em;
  text-decoration: none;
}

.links:hover,
.links:focus {
  color: var(--blue-color);
}

.map {
  color: var(--main-white-color);
}

.map:hover,
.map:focus{
  color: var(--blue-color);
}

.footer-map {
  line-height: 1.71; /* line-height 24px : font-size 14px = 1.71 */
  font-style: normal;
}

.header-contacts {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14; /* line-height 16px : font-size 14px = 1.14 */
  letter-spacing: 0.02em;
  color: var(--primary-grey-color);
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71; /* line-height 24px : font-size 14px = 1.71 */
  font-style: normal;
  color: var(--footer-lightgrey-color);
}

.header-contacts:hover,
.header-contacts:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--blue-color);
}

.order-service {
  background-color: var(--darkgrey-background-color);
}

.hero-content {
  padding: 200px 226px 15px 226px;
}

.hero-button {
  padding: 15px 350px 200px 350px;
  text-align: center;
}

.order-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36; /* line-height 60px : font-size 44px = 1.36 */
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.order-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9; /* line-height 30px : font-size 16px = 1.9 */
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background-color: var(--blue-color);
  color: var(--main-white-color);
}

.feature {
  font-size: 14px;
  font-weight: 700;
  line-height:1.14; /* line-height 16px : font-size 14px = 1.14 */
  text-transform: uppercase;
  color: var(--title-black-color);
}

.feature-desc {
  font-size: 14px;
  line-height:1.71; /* line-height 24px : font-size 14px = 1.71 */
  color: var(--primary-grey-color);
}

.what-we-do,
.our-team {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17; /* line-height 42px : font-size 36px = 1.17 */
  text-align: center;
  color: var(--title-black-color);
}

.develop-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.worker-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.worker-of-the-team {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19; /* line-height 19px : font-size 16px = 1.19 */
  text-align: center;
  color: var(--title-black-color);
}

.position {
  font-size: 16px;
  line-height: 1.19; /* line-height 19px : font-size 16px = 1.19 */
  text-align: center;
  color: var(--primary-grey-color);
}

.button-list {
  margin: 8px;
}

.button-portfolio {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* line-height 26px : font-size 16px = 1.62 */
  border: 0;
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background-color: var(--buttons-background-color);
  color: var(--title-black-color);
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--blue-color);
  color: var(--main-white-color);
}

.project-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2; /* line-height 36px : font-size 18px = 2 */
  letter-spacing: 0.06em;
  color: var(--title-black-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.9; /* line-height 30px : font-size 16px = 1.9 */
  color: var(--primary-grey-color);
}

.footer {
  background-color: var(--darkgrey-background-color);
}
